<div class="container containerCard ">
    <div class="row rowCardM">
        <div class="col-sm">
            <img [src]="dataFishes['Species Illustration Photo']['src']" [alt]="dataFishes['Species Illustration Photo']['alt']" class="cardImg" />
        </div>
    </div>
    <div class="row rowCardM cardTxt">
        <div class="col-sm">
            <p class="protein">{{ dataFishes['Protein'] | diary }}</p>
            <h3>{{ dataFishes['Species Name'].split(' ').slice(0,1) }}</h3>
            <p>{{ dataFishes['Physical Description'] }}</p>
        </div>
    </div>
    <div class="row rowCardS cardButton">
        <div class="col-sm">
            <button (click)="readMore()">READ MORE</button>
        </div>
    </div>
</div>
